<%= form_with model: @item, local: true do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


 <div class="container-sm">
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "form-control",placeholder: "Name" %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "form-control" %>
  </p>

  <p>
    <%= form.label :tags %><br>
    <%= form.select :tags, ['Weapon', 'Armor', 'Potion', 'Tool', 'Other'] %>
  </p>
 
  <p>
    <%= form.submit 'Submit Item', class: "btn btn-light" %>
    <%= link_to 'Back', items_path, class: "btn btn-light" %>
  </p>
 </div>
<% end %>